<h1><%= @repository.owner %>/<%= @repository.name %></h1>

<p class="<%= @repository.read ? "read" : "unread" %>"><%= @repository.latest_tag %></p>

<p><%= @repository.latest_release_date %></p>

<p><%= markdown @repository.latest_release_notes %></p>

<%= link_to "Destroy", repository_path(@repository), data: {
  turbo_method: :delete,
  turbo_confirm: "Are you sure?"
} %>